@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 26 26 26; /* match secondary/text */
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-sans);
}

/* Typography utilities for legal pages */
.prose h1 {
  @apply text-3xl font-[var(--font-serif)] text-secondary;
}
.prose h2 {
  @apply mb-6 mt-12 font-serif text-3xl text-gray-900;
}
.prose p {
  @apply mb-6 leading-relaxed text-gray-700;
}
.prose strong {
  @apply font-semibold text-gray-900;
}
